*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 50rem;
    padding: 10rem;

}

.form-container h1 {
    text-align: center;
}

.form-container {
    font-size: 1.8rem;
}

.form-items {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.form-items input {
    width: 70%;
    padding: 1.3rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10rem;
    border: 1px solid gray;
}

.form-items button {
    margin-top: 2rem;
    width: 40%;
    padding: 1.2rem;
    border: none;
    outline: none;
    background-color: #3b82f6;
    border-radius: 10rem;
    color: #fff;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.google-button {
    text-decoration: none;
    color: #3b82f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.google-img {
    width: 3rem;
}


